.exchange {
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    z-index: 100;
    text-align: center;
    width: 12.5rem;
    align-self: center;
    outline: none;
    border: none;
    background-color: #9b03ff;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 1.5rem;
    padding-inline: 2.5rem;
    border-radius: 2rem;

    &:hover {
      cursor: pointer;
      background-color: darken(#9b03ff, 12.5%);
      transition: background-color 0.1s;
    }

    &:active {
      background-color: #9b03ff;
    }
  }

  .imgDiv {
    user-select: none;
    z-index: 2;
    width: 100%;
    padding-inline: 10rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .opacity {
      opacity: 0.1;
    }
  }

  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    .title {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 60px;
      font-family: "Poppins", sans-serif;
      font-weight: bolder;
      color: white;
    }

    .subtitle {
      margin: 0;
      font-size: 24px;
      font-family: "Poppins", sans-serif;
      font-weight: lighter;
      color: white;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .title {
    font-size: 52px !important;
  }

  .subtitle {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 675px) {
  .imgDiv {
    padding-inline: 2rem !important;
  }

  .titleBox {
    margin-bottom: 2.5rem !important;
  }

  .title {
    font-size: 32px !important;
  }

  .subtitle {
    width: 17.5rem;
    text-align: center;
    font-size: 16px !important;
  }
}
