.stripeForm {
  padding-inline: 15rem;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  .subtitle {
    margin: 0;
    color: red;
    font-family: "Poppins", sans-serif;
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

  .title {
    color: white;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  .subtitle {
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    margin-top: 1rem;
  }

  button {
    outline: none;
    border: none;
    background-color: #9b03ff;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 1.5rem;
    padding-inline: 3.5rem;
    border-radius: 2rem;

    &:hover {
      cursor: pointer;
      background-color: darken(#9b03ff, 12.5%);
      transition: background-color 0.1s;
    }

    &:active {
      background-color: #9b03ff;
    }
  }
}

.btn {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #9b03ff;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 darken(#9b03ff, 5%);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.btn:active {
  background-color: darken(#9b03ff, 12.5%);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 darken(#9b03ff, 12.5%);
  transform: scale(0.99);
}

@media only screen and (max-width: 800px) {
  .stripeForm {
    padding-inline: 1rem !important;
  }
}

@media only screen and (max-width: 1050px) {
  .title {
    font-size: 32px !important;
  }

  .subtitle {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 675px) {
  .imgDiv {
    padding-inline: 2rem !important;
  }

  .titleBox {
    margin-bottom: 2.5rem !important;
  }

  .title {
    font-size: 18px !important;
  }

  .subtitle {
    width: 17.5rem;
    text-align: center;
    font-size: 14px !important;
  }
}
